{% extends "base.html" %}

{% block title %}{{ list_title }} Todo Lists{% endblock %}

{% block content %}


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

   <h1>To-do Lists</h1>
   
   <p>{{ item_count }} items in {{ list_count }} lists</p>

   	<ul class="mainlist">
   		{% for list in list_list %}
   	        <li><a href="/todo/{{ list.id }}/{{ list.slug }}">{{ list.name }}</a> - {{ list.group }}</li>
   	    {% endfor %}
   	</ul>

    <div class="break">
    &nbsp;
    </div>

    <h2>Add a list:</h2>
    
	<form action="." method="POST">	
	{{ form }}
	<p><input type="submit" value="Submit"></p>
	</form>
	
{% endblock %}