<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>{% block title %}{% endblock %}</title>
   <link rel="stylesheet" type="text/css" href="/site_media/css/styles.css" />
   <link rel="stylesheet" type="text/css" href="/site_media/css/ui.datepicker.css" />   
   
   
    <!-- jquery javascript for calendar widgets etc. -->
    <script type="text/javascript" src="/site_media/js/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="/site_media/js/ui.datepicker.js"></script>    
   <!-- /javascript -->
   
</head>

<body>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('#id_due_date').datepicker();
     });
</script>




<div id="content_wrapper">

<div id="navcontainer">
<ul id="navlist">
	<li><a href="/">To-do Lists</a> </li>
    {% if not user.is_authenticated %}
	<li><a href="{% url auth_login %}">Log In</a> </li>
	{% endif %}
    {% if user.is_authenticated %}
	<li><a href="/list/mine">My Tasks</a> </li>
	<li><a href="{% url auth_logout %}">Log Out</a> </li>
	<li><a href="{#% url profiles_profile_detail user.username %#}">My Account</a> </li>			
	{% endif %}
    {% if user.is_staff %}
	<li><a href="/admin">Admin</a> </li>
    {% endif %}
</ul>
</div>

   {% block content %}{% endblock %}
   
   
    {% block footer %}

    <div class="break">
    &nbsp;
    </div>
    
    <p>
     {% if user.is_authenticated %}    
    Logged in as {{ request.user.first_name }} {{ request.user.last_name }}
    {% endif %}
    
    &copy; Nowhereland, 2008 
    </p>
    
    <a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="ponybadge" border="0"></a>
    {% endblock %}

</div>
 </body>
</html>