<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>{% block title %}{% endblock %}</title>
   <link rel="stylesheet" type="text/css" href="{{ TODO_MEDIA_URL }}css/styles.css" />
   <link rel="stylesheet" type="text/css" href="{{ TODO_MEDIA_URL }}css/ui.datepicker.css" />   
   
   
    <!-- jquery javascript for calendar widgets etc. -->
    <script type="text/javascript" src="{{ TODO_MEDIA_URL }}js/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="{{ TODO_MEDIA_URL }}js/ui.datepicker.js"></script>    
   <!-- /javascript -->
   
</head>

<body>

<script type="text/javascript" charset="utf-8">
    
    // thedate.x comes from the edit_task view. If this is a new entry, 
    // thedate won't be present and datepicker will fall back on the default (today).
    
    $(document).ready(function(){
        $('#id_due_date').datepicker({defaultDate: new Date({{thedate.year}}, {{thedate.month}} - 1, {{thedate.day}}),});
     });
</script>



<div id="content_wrapper">

<div id="navcontainer">
<ul id="navlist">
	<li><a href="/todo">To-do Lists</a> </li>
    {% if not user.is_authenticated %}
	<li><a href="/accounts/login">Log In</a> </li>
	{% endif %}
    {% if user.is_authenticated %}
	<li><a href="/todo/mine">My Tasks</a> </li>
	<li><a href="/accounts/logout">Log Out</a> </li>
	{% endif %}
    {% if user.is_staff %}
	<li><a href="/admin">Admin</a> </li>
    {% endif %}
</ul>
</div>

   {% block content %}{% endblock %}
   
   
    {% block footer %}

    <div class="break">
    &nbsp;
    </div>
    
    <p>
     {% if user.is_authenticated %}    
    Logged in as {{ request.user.first_name }} {{ request.user.last_name }}
    {% endif %}
    
    &copy; Nowhereland, 2008 
    </p>

    {% endblock %}

</div>
 </body>
</html>