{% extends "todo/base.html" %}
{% load comments %}

{% block title %}Task: {{ task.title }}{% endblock %}

{% block content %}

<script type="text/javascript">

$(document).ready(function() {
    // Initially hide the TaskEdit form
    $('#TaskEdit').hide();
    
    // toggle slide to show the Add Task form when link clicked
    $('#slideToggle').click(function(){
        $(this).siblings('#TaskEdit').slideToggle();
    });
});
</script>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



{% ifequal auth_ok 1 %}

<h2>{{ task }}</h2>
<p><strong>In list:</strong> <a href="{% url todo-incomplete_tasks task.list.id task.list.slug %}" class="showlink">{{ task.list }}</a><br /></p>

<p>
<strong>Assigned to:</strong> {{ task.assigned_to.first_name }} {{ task.assigned_to.last_name }}<br />
<strong>Created by:</strong> {{ task.created_by.first_name }} {{ task.created_by.last_name }}<br />
<strong>Due date:</strong>  {{ task.due_date }}<br />

<strong>Completed:</strong> {{ task.completed|yesno:"Yup,Nope" }}<br />
</p>

{% if task.note %}
<p><strong>Note:</strong> {{ task.note|safe|linebreaks }}</p>    
{% endif %}



<h3 style="margin-bottom:0px;" id="slideToggle" >&rarr; Click to edit task &larr;</h3>
<div id="TaskEdit">
<h3>Edit Task</h3>
<form action="" method="POST">
<table>{{ form }}</table>   
<p><input type="submit" class="todo-button" name="edit_task" value="Edit task"></p>
</form>
</div>

<br />

<hr />


<h3>Comments on this task</h3>    


{% get_comment_list for task as comment_list %}
{% for comment in comment_list %}
    <p><strong>{{ comment.user_name }}, {{ comment.submit_date|date:"F d Y" }}</strong> </p>
    {{ comment.comment|linebreaks }}
{% endfor %}

<h3>Add new comment</h3>
{% render_comment_form for task %}

{% endifequal %}

	
{% endblock %}