{% extends "todo/base.html" %}


{% block title %}{{ list_title }} Todo List: {{ list.name }}{% endblock %}

{% block content %}


    {% ifequal list_slug "mine" %}
        <h1>Tasks assigned to {{ request.user }}</h1>    
    {% else %}
    {% ifequal auth_ok 1 %}
       <h1>Tasks filed under "{{ list.name }}"</h1>
       <p>This list belongs to {{ list.group }}</p>
    {% endifequal %}
    {% endifequal %}


   
   {% if messages %}
   <ul class="messages">
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
   {% endif %}   

   {% ifequal auth_ok 1 %}
   <form action="" method="POST">
   
   {# Only show task adder if viewing a proper list #}
   {% ifnotequal list_slug "mine" %}
   <h2 style="margin-bottom:0px;">Add a task:</h2>

	    
	    <table class="nocolor" border="0" cellspacing="5" cellpadding="5">
	       <tr>
	           <td>{{ form.name.errors }}</td>
	           <td>{{ form.due_date.errors }}</td>
	           <td> {{ form.priority.errors }}</td>	           	           
	       </tr>
	       <tr>
	           <td><label for="id_name">Task:</label> {{ form.name }}</td>
	           <td><label for="id_due_date">Due date:</label> {{ form.due_date }}</td>
	           <td><label for="id_priority">Priority:</label> {{ form.priority }}</td>
	           <td><label for="id_assigned">Assign to:</label> {{ form.assigned_to }}</td>
 	       </tr>
	    </table>
	
	        <input type="hidden" name="created_by" value="{{ request.user.id }}" id="id_created_by">
	        <input type="hidden" name="list" value="{{ listid }}" id="id_list">
	        <input type="hidden" name="created_date" value="{{ created_date }}" id="id_created_date">	        
	    
	        <p><input type="submit" name="add_task" value="Add task"></p>
        {% endifnotequal %}

	<h3>Incomplete tasks</h3>
	   
	<table border="0">	
        <tr>
            <th>Done</th>             
            <th>Priority</th> 
            <th>Task</th> 
            <th>Created</th> 
            <th>Due on</th>                         
            <th>Owner</th> 
            <th>Assigned</th>    
            <th>Edit</th>                
            {% ifequal list_slug "mine" %}
            <th>List</th>   
             {% endifequal %}            
                                 
            <th>Del</th>             
        </tr>
		{% for task in task_list %}
	        <tr>
	            <td><input type="checkbox" name="mark_done" value="{{ task.id }}" id="mark_done_{{ task.id }}">   </td> 
	            <td>{{ task.priority }}</td> 
	            <td>{{ task.name }}</td> 
	            <td>{{ task.created_date|date:"m/d/Y" }}</td> 
	            <td>
	            {% if task.overdue_status %}<span class="overdue">{% endif %}
	                {{ task.due_date|date:"m/d/Y" }}  
	            {% if task.overdue_status %}</span>{% endif %}	                
	            </td>
	            <td><a href="/profiles/{{ task.created_by }}">{{ task.created_by }}</a></td> 
	            <td><a href="/profiles/{{ task.assigned_to }}">{{ task.assigned_to }}</a></td>
	            <td><a href="/todo/task/{{ task.id }}"><img src="{{ TODO_MEDIA_URL }}images/action_go.gif" style="padding-top:3  px;"></a></td>	            
                {% ifequal list_slug "mine" %}
                <td><a href="/todo/{{ task.list.id }}/{{ task.list.slug }}">{{ task.list }}</a></td>
                 {% endifequal %}	                       
	            <td><input type="checkbox" name="del_task" value="{{ task.id }}" id="del_task_{{ task.id }}">   </td> 	            
            </tr>
	    {% endfor %}
	</table>   
    <p><input type="submit" name="mark_tasks_done" value="Continue &rarr;"></p>

	
	<h3>Completed tasks</h3>

	<table border="0">	
        <tr>
            <th>Undo</th> 
            <th>Priority</th> 
            <th>Task</th> 
            <th>Created</th> 
            <th>Due on</th>
            <th>Completed on</th>   
            {% ifequal list_slug "mine" %}
            <th>List</th>   
             {% endifequal %}                       
            <th>Del</th>                
        </tr>

        
		{% for task in completed_list %}
	        <tr>     
	            <td><input type="checkbox" name="undo_completed_task" value="{{ task.id }}" id="id_undo_completed_task{{ task.id }}">   </td> 	            	            	            
	            <td>{{ task.priority }}</td> 
	            <td>{{ task.name }}</td> 
	            <td>{{ task.created_date|date:"m/d/Y" }}</td> 
	            <td>{{ task.due_date|date:"m/d/Y" }}</td>
	            <td>{{ task.completed_date|date:"m/d/Y" }}</td>	        
                {% ifequal list_slug "mine" %}
                 <td><a href="/list/{{ task.list.slug }}">{{ task.list }}</a>  </td>
                  {% endifequal %}	                	            
	            <td><input type="checkbox" name="del_completed_task" value="{{ task.id }}" id="del_completed_task_{{ task.id }}">   </td> 	            	            
            </tr>
	    {% endfor %}

	</table>
	<p><input type="submit" name="deldonetasks" value="Continue &rarr;"></p>
	</form> 
	{% ifequal can_del 1 %}
	{% ifnotequal list_slug "mine" %}    
	   <p><a href="/todo/{{ list.id }}/{{ list_slug }}/delete">Delete this list</a></p>
	{% endifnotequal %}
	{% endifequal %}
    {% endifequal %}
{% endblock %}